@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
	--space: 1rem;
	--space-2: 2rem;

	--black: #000000;
	--red: #ce2211;
	--orange: #e54222;
	--green: #37796c;
	--slate: #0c3348;
	--blue: #1c4cbd;
	--light-blue: #5ebdfc;
	--cyan: #16d6fb;
	--lime: #effcd5;
	--white: #ffffff;
	--gray: #dfdfdf;
	--yellow: #ffcb05;

	--slate-transparent: hsla(201, 71%, 5%, 0.85);

	--blank: var(--red);
	--incorrect: var(--gray);
	--exists: var(--yellow);
	--correct: var(--green);

	--border: solid var(--white) 1px;

	--inner-background: var(--slate);
	--outer-background: var(--red);

	--inner-border: var(--border);
	--outer-border: var(--border);
}

* {
	font-family: 'VT323', monospace;
}

body {
	font-family: 'VT323', monospace;

	font-size: 2rem;

	color: white;
}

html {
	min-height: 100vh;
	background: linear-gradient(var(--slate-transparent), var(--slate-transparent)),
		url('../../../forest.png');
	background-size: cover;
	background-position: center;
}
